<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/> 
<title>bus test</title>
</head>
<body>
  <form action="/bus2" method="post">
  	<label>选择方向</label><p/>
	<select name="sublineid">
		{% for item in items %}
  		   <option value ="{{ item['id'] }}">{{ item['start_station'] + '-->' + item['end_station']  }}</option>
  		{% end %}
	</select>
	<input type="hidden" name="latlng" value="{{ latlng }}" />
	<p/><input type="submit" value="查询"/>
  </form>
  
</body>
</html>